<h1 class="title is-1">Log In</h1>
<%= form_tag sessions_path do %>
  <label class="label">Email</label>
  <div class="control has-icons-left">
    <%= text_field_tag :email, nil, class: 'form-control input', type:'email', placeholder: 'Email Input'%>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>

  <label class="label">Password</label>
  <div class="control has-icons-left">
    <%= text_field_tag :password, nil, class: 'form-control input', type:'password', placeholder: 'Password'%>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>

  <%= submit_tag 'Log In', class: 'button is-primary', style:'margin-top:20px;' %>
<% end %>