<!-- Headings -->
<div class="container">
        <h1 class="title is-1">This is a heading with title is-1 class</h1>
        <h2 class="substitle">This is a heading with subtitle class</h2>
    </div>
    
    <!-- Content -->
    <div class="block">
        <p class="content is-small">This is content is-small class Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, sed.</p>
        <p class="content is-medium">This is content is-medium class Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, sed.</p>
        <p class="content is-large">This is content is-large class Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, sed.</p>
    </div>
    
    <!-- Buttons -->
    <div class="block">
        <button class="button">Button</button>
        <button class="button is-white">Is-White</button>
        <button class="button is-light">Is-Light</button>
        <button class="button is-dark">Is-Dark</button>
        <button class="button is-black">Is-Black</button>
        <button class="button is-link">Is_Link</button>
    </div>
    <div class="block">
        <a href="" class="button is-primary">This is an anchor class is-primary</a>
        <a href="" class="button is-info">This is an anchor class is-info</a>
        <a href="" class="button is-success">This is an anchor class is-success</a>
        <a href="" class="button is-warning">This is an anchor class is-warning</a>
        <a href="" class="button is-danger">This is an anchor class is-danger</a>
    </div>
    <div class="block">
        <a href="" class="button is-primary is-small">This is an anchor class is-small</a>
        <a href="" class="button is-info is-medium">This is an anchor class is-medium</a>
        <a href="" class="button is-success is-large">This is an anchor class is-large</a>
    </div>
    <div class="block">
        <a href="" class="button is-primary is-small is-outlined">This is an anchor class is-outlined</a>
        <a href="" class="button is-info is-medium is-inverted">This is an anchor class is-medium</a>
        <a href="" class="button is-success is-large is-outlined">This is an anchor class is-large</a>
    </div>
    <div class="block">
        <a href="" class="button is-hovered">Hovered</a>
        <a href="" class="button is-focused">focused</a>
        <a href="" class="button is-active">active</a>
        <a href="" class="button is-loading">loading</a>
        <a href="" class="button" disabled>disabled</a>
    </div>
    
    
    <!-- Box -->
    <div class="block">
        <div class="box">
            <h1 class="title">This div has a 'box' class</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, consequatur?
            </p>
        </div>
    </div>
    
    <!-- Notifications -->
    <div class="block">
        <div class="notification is-primary">
            <button class="delete"></button>
            Notifications with a delete button
        </div>
        <div class="notification is-info">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, corrupti?
        </div>
        <div class="notification is-success">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, corrupti?
        </div>
        <div class="notification is-warning">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, corrupti?
        </div>
        <div class="notification is-danger">
            <button class="delete"></button>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, corrupti?
        </div>
    </div>
    
    <!-- Tags -->
    <div class="block">
        <span class="tag">Tag class</span>
        <span class="tag is-black">Tag class</span>
        <span class="tag is-dark">is-dark</span>
        <span class="tag is-light">is-light</span>
        <span class="tag is-white">is-white</span>
        <span class="tag is-primary">is-primary</span>
        <span class="tag is-info">is-info</span>
        <span class="tag is-success">is-success</span>
        <span class="tag is-warning is-medium">is-warning</span>
        <span class="tag is-danger is-large">is-danger <button class="delete"></button></span>
    </div>
    
    <!-- Messages -->
    <div class="block">
        <article class="message">
            <div class="message-header">
                <p>Message-header</p>
            </div>
            <div class="message-body">
                <p>This is the message body div Lorem ipsum dolor sit amet.</p>
            </div>
        </article>
    </div>
    
    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
        
            <a class="navbar-item">
                Documentation
            </a>
        
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                More
                </a>
        
                <div class="navbar-dropdown">
                <a class="navbar-item">
                    About
                </a>
                <a class="navbar-item">
                    Jobs
                </a>
                <a class="navbar-item">
                    Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                    Report an issue
                </a>
                </div>
            </div>
        </div>
        
            <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                <a class="button is-primary">
                    <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                    Log in
                </a>
                </div>
            </div>
            </div>
        </div>
    </nav>
    
    <div style="margin-top:300px"></div>
</div>



<!-- CARD -->

<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
        <div class="media-left">
            <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="media-content">
            <p class="title is-4">John Smith</p>
            <p class="subtitle is-6">@johnsmith</p>
        </div>
        </div>

        <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
</div>





<div class="block">
        <div class="columns">
          <div class="column is-third">
            <div class="card-content">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="<%= current_user.cards[0].image %>" alt="Placeholder image">
                </figure>
              </div>
      
              <div class="media">
                <div class="media-left">
                <% if current_user.cards.first.logo %>
                    <figure class="image is-48x48">
                        <img src="<%= current_user.cards.first.logo %>" alt="Placeholder image">
                    </figure>
                <% end %>
                </div>
                <div class="media-content">
                    <p class="title is-4"><%= current_user.cards.first.name %></p>
                    <p class="subtitle is-6"><%= current_user.cards.first.email %></p>
                </div>
              </div>
      
              <div class="content">
              <% current_user.cards.first.attributes.each do |k, v| %>
                <% if v != '' && k != 'created_at' && k != 'updated_at' && k != 'id' && k != 'user_id' && k != 'image' && k != 'logo' %>
                  <p class="content is-small"><%= k.capitalize %>: <%= v %></p>
                <% end %>
              <% end %>
              </div>
              <%= link_to "Edit My Card", edit_user_card_path(current_user.id, current_user.cards.first.id), class: 'button is-light' %>
            </div>
      
          </div>
        </div>
      </div>
      